.index-img {
    height: 200px;
    object-fit: contain;
}

.show-img {
    height: 500px;
    object-fit: contain;
}

.inbox-img {
    height: 125px;
    object-fit: contain;
}

.inbox-own-message {
    background-color: blue;
    border-radius: 25px;
}

.inbox-message {
    background-color: lightgrey;
    border-radius: 25px;
}

.img-cards, .message-link {
    color: black;
    text-decoration: none;
}

.carousel-img {
    height: 400px;
    object-fit: fill;
}

.store-logo {
    height: 400px;
    object-fit: contain;
}

/* FOR GOOGLE MAPS */
#map {
    height: 100%;
    display: none;
}
     
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    padding-left: 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}