<%- include("../partials/header.ejs") %>
<div class="container">
    <div class="row bg-secondary p-3">
        <div class="container-fluid col-12 d-flex">
            <div class="me-auto text-white fs-4 ms-2">
                Inbox
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a 
                    class="btn btn-secondary text-center fw-bold" 
                    role="button"
                    href="/product"
                >
                    Back  
                </a>
            </div>
        </div>    
    </div>

    <div class="row bg-light">
        
    </div>
</div>
<%- include("../partials/footer.ejs") %>