<%- include("partials/header.ejs") %>
    <div class="row bg-light">
        <form class="row ps-4 g-3">
            <div class="col-md-6">
                <input
                    class="form-control"  
                    type="text"                     
                    placeholder="Username"
                >
            </div>
            <div class="col-md-6">
                <input 
                    class="form-control" 
                    type="password" 
                    placeholder="Passsword"
                >
            </div>
            <div class="col-12">
                <button 
                    class="btn btn-primary me-3"
                    type="submit" 
                >
                    Log in
                </button>
                    Don't have an account? <a href="/user/register">Sign up now</a>
            </div>
        </form>
    </div>
<%- include("partials/footer.ejs") %>