div {
    font-size: xx-large;
    text-align: center;
    margin: 50px;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    font-size: 50px;
    padding: 5px;
}

p {
    display: inline-block;
    margin: 35px;
}

.chess-board-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.dark-box {
    background-color: brown;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.light-box {
    background-color: wheat;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.eliminated-info-div {
    position: absolute;
    right: 0;
}

.hover:hover {
    background-color: steelblue;
}

.movable-cell {
    background-color:lightsteelblue;
}

.selected-cell {
    background-color: steelblue;
}

.player-white-div {
    color: lightgray;
}

.player-black-div {
    color: lightgray;
}

.player-turn {
    color: black;
    font-weight: bolder;
}

.hide-container {
    display: none;
}

.under-attack {
    background-color: red;
}