div {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin: 50px;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    font-size: 50px;
}

.hover:hover {
    background-color: lightsteelblue;
}

.dark-box {
    background-color: burlywood;
    width: 100px;
    height: 100px;
}

.light-box {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
}

.selectedCell {
    background-color: steelblue;
}

.white-player {
    color: lightgray;
}

.black-player {
    color: lightgray;
}

.player-turn {
    color: black;
    font-weight: bolder;
}