div {
    font-size: xx-large;
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    font-size: 50px;
    padding: 5px;
}

p {
    margin: 35px;
}

.main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons-div {
    width: 350px;
    margin-left: 300px;
}

.eliminated-info-div {
    width: 350px;
    margin-right: 300px;
}

.elim-piece-div {
    display: flex;
    justify-content: space-evenly;
}

.dark-box {
    background-color: brown;
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.light-box {
    background-color: wheat;
    border: 1px solid black;
    width: 80px;
    height: 80px;
}

.hover:hover, .selected-cell {
    background-color: steelblue;
}

.movable-cell {
    background-color:lightsteelblue;
}

.player-white-div {
    color: lightgray;
    margin: 100px 0 0 0;
}

.player-black-div {
    color: lightgray;
    margin: 50px 0 100px 0;
}

.player-turn {
    color: black;
    font-weight: bolder;
}

.hide {
    display: none;
}

/* .under-attack {
    background-color: red;
} */