.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM CSS SECTION */

#header-dropdown-button {
  border-radius: 20px;
}

.main-container {
  background-color: rgb(240, 240, 240);
}

#post-textarea {
  height: 150px;
  resize: none;
}

#post-textarea:focus,
#like-comment-button:focus,
#unlike-comment-button:focus {
  box-shadow: none;
}

#like-reply-button {
  text-decoration: none;
}

#like-reply-button:hover {
  text-decoration: underline;
}

#like-reply-button:focus,
#unlike-reply-button:focus {
  box-shadow: none;
}

.img-upload-form {
  width: 100%;
  height: 200px;
}

.img-upload-form > input {
  display: none;
}

.img-upload-label {
  background-color: rgb(250, 250, 250);
}

#like-comment-button:hover,
#unlike-comment-button:hover,
.img-upload-label:hover {
  background-color: rgb(230, 230, 230);
}

.post-feed-user {
  font-weight: bold;
  font-size: 15px;
}

.post-feed-date {
  font-size: 12px;
}

#like-comment-button {
  background-color: white;
  color: black;
}

#unlike-comment-button {
  background-color: white;
  color: blue;
}

#user-comment-col {
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}

#user-cover-photo-input,
#user-profile-photo-input {
  opacity: 0;
}

.post-show-photo-div {
  background-color: black;
  height: 100vh;
}

#userpage_link {
  text-decoration: none;
  color: black;
}

#userpage_link:hover {
  text-decoration: underline;
}
