<html>
    <head>
        <title>Online Marketplace</title>
        <link 
            rel="stylesheet" 
            href="/bootstrap/css/bootstrap.min.css"
        >
        <link 
            rel="stylesheet" 
            href="/main.css"
        >
        <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row bg-primary p-3">
                <div class="container-fluid col-md-6 w-50">
                    <div class="fs-5 fw-bold mt-1">
                        <a 
                            class="shop-name text-dark fw-bold" 
                            href="/" 
                        >
                            ONLINE MARKETPLACE
                        </a>
                    </div>
                </div>
                <div class="container-fluid col-md-6 d-flex justify-content-end w-50">
                    <% if (username) { %>
                    <div>
                        <div class="btn-group">
                            <button 
                                type="button" 
                                class="dropdown-toggle btn btn-danger text-white fw-bold" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false"
                            >
                                Hello, <%= firstname %>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a 
                                        class="dropdown-item" 
                                        href="#"
                                    >
                                        Edit Profile
                                    </a>
                                </li>
                                <li>
                                    <a 
                                        class="dropdown-item" 
                                        href="/product"
                                    >
                                        My Listing
                                    </a>
                                </li>
                                <li>
                                    <a 
                                        class="dropdown-item" 
                                        href="/user/logout"
                                    >
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="d-flex align-items-center me-3">
                        <a 
                            class="nav-link active link-light text-center fw-bold" 
                            aria-current="page" 
                            href="/user/signup"
                        >
                            Register    
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <a 
                            class="nav-link active link-light text-center fw-bold" 
                            aria-current="page" 
                            href="/user/login"
                        >
                            Login    
                        </a>
                    </div>
                    <% }; %>
                </div>
            </div>